<nav class="navbar navbar-expand-lg navbar-secondary bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/images/logoNav.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todo-view">Todo</a>
        </li>
      </ul>

      <form class="d-flex" role="search" action="/logout" method="POST">
        <button class="btn btn-outline-none d-flex align-items-center text-black" type="submit">
          Sign Out
          <i class="fas fa-sign-out-alt ms-2" style="color: rgb(0, 0, 0);"></i>
        </button>
      </form>
    </div>
  </div>
  <script>
    const navLinks = document.querySelectorAll('.navbar-nav .nav-link');
    
    navLinks.forEach(link => {
        if (link.href === window.location.href) {
            link.classList.add('active');
        } else {
            link.classList.remove('active');
        }
    });
</script>



</nav>
